USE [AcapersaNuevo]
GO
/****** Object:  Table [dbo].[DetalleMaquinaRameado]    Script Date: 03/05/2019 17:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleMaquinaRameado](
	[NMaquina] [int] NOT NULL,
	[Temperatura1] [float] NULL,
	[Tolerancia1InferiorTemperatura] [float] NULL,
	[Tolerancia1SuperiorTemperatura] [float] NULL,
	[TipoTolerancia1Temperatura] [int] NULL,
	[Minimo1Temperatura] [float] NULL,
	[Maximo1Temperatura] [float] NULL,
	[Temperatura2] [float] NULL,
	[Tolerancia2InferiorTemperatura] [float] NULL,
	[Tolerancia2SuperiorTemperatura] [float] NULL,
	[TipoTolerancia2Temperatura] [int] NULL,
	[Minimo2Temperatura] [float] NULL,
	[Maximo2Temperatura] [float] NULL,
	[Temperatura3] [float] NULL,
	[Tolerancia3InferiorTemperatura] [float] NULL,
	[Tolerancia3SuperiorTemperatura] [float] NULL,
	[TipoTolerancia3Temperatura] [int] NULL,
	[Minimo3Temperatura] [float] NULL,
	[Maximo3Temperatura] [float] NULL,
	[Temperatura4] [float] NULL,
	[Tolerancia4InferiorTemperatura] [float] NULL,
	[Tolerancia4SuperiorTemperatura] [float] NULL,
	[TipoTolerancia4Temperatura] [int] NULL,
	[Minimo4Temperatura] [float] NULL,
	[Maximo4Temperatura] [float] NULL,
	[Temperatura5] [float] NULL,
	[Tolerancia5InferiorTemperatura] [float] NULL,
	[Tolerancia5SuperiorTemperatura] [float] NULL,
	[TipoTolerancia5Temperatura] [int] NULL,
	[Minimo5Temperatura] [float] NULL,
	[Maximo5Temperatura] [float] NULL,
	[Temperatura6] [float] NULL,
	[Tolerancia6InferiorTemperatura] [float] NULL,
	[Tolerancia6SuperiorTemperatura] [float] NULL,
	[TipoTolerancia6Temperatura] [int] NULL,
	[Minimo6Temperatura] [float] NULL,
	[Maximo6Temperatura] [float] NULL,
	[Temperatura7] [float] NULL,
	[Tolerancia7InferiorTemperatura] [float] NULL,
	[Tolerancia7SuperiorTemperatura] [float] NULL,
	[TipoTolerancia7Temperatura] [int] NULL,
	[Minimo7Temperatura] [float] NULL,
	[Maximo7Temperatura] [float] NULL,
	[Temperatura8] [float] NULL,
	[Tolerancia8InferiorTemperatura] [float] NULL,
	[Tolerancia8SuperiorTemperatura] [float] NULL,
	[TipoTolerancia8Temperatura] [int] NULL,
	[Minimo8Temperatura] [float] NULL,
	[Maximo8Temperatura] [float] NULL,
	[Ancho1] [float] NULL,
	[Tolerancia1InferiorAncho] [float] NULL,
	[Tolerancia1SuperiorAncho] [float] NULL,
	[TipoTolerancia1Ancho] [int] NULL,
	[Minimo1Ancho] [float] NULL,
	[Maximo1Ancho] [float] NULL,
	[Ancho2] [float] NULL,
	[Tolerancia2InferiorAncho] [float] NULL,
	[Tolerancia2SuperiorAncho] [float] NULL,
	[TipoTolerancia2Ancho] [int] NULL,
	[Minimo2Ancho] [float] NULL,
	[Maximo2Ancho] [float] NULL,
	[Ancho3] [float] NULL,
	[Tolerancia3InferiorAncho] [float] NULL,
	[Tolerancia3SuperiorAncho] [float] NULL,
	[TipoTolerancia3Ancho] [int] NULL,
	[Minimo3Ancho] [float] NULL,
	[Maximo3Ancho] [float] NULL,
	[Ancho4] [float] NULL,
	[Tolerancia4InferiorAncho] [float] NULL,
	[Tolerancia4SuperiorAncho] [float] NULL,
	[TipoTolerancia4Ancho] [int] NULL,
	[Minimo4Ancho] [float] NULL,
	[Maximo4Ancho] [float] NULL,
	[Ancho5] [float] NULL,
	[Tolerancia5InferiorAncho] [float] NULL,
	[Tolerancia5SuperiorAncho] [float] NULL,
	[TipoTolerancia5Ancho] [int] NULL,
	[Minimo5Ancho] [float] NULL,
	[Maximo5Ancho] [float] NULL,
	[Ancho6] [float] NULL,
	[Tolerancia6InferiorAncho] [float] NULL,
	[Tolerancia6SuperiorAncho] [float] NULL,
	[TipoTolerancia6Ancho] [int] NULL,
	[Minimo6Ancho] [float] NULL,
	[Maximo6Ancho] [float] NULL,
	[Ancho7] [float] NULL,
	[Tolerancia7InferiorAncho] [float] NULL,
	[Tolerancia7SuperiorAncho] [float] NULL,
	[TipoTolerancia7Ancho] [int] NULL,
	[Minimo7Ancho] [float] NULL,
	[Maximo7Ancho] [float] NULL,
	[Ancho8] [float] NULL,
	[Tolerancia8InferiorAncho] [float] NULL,
	[Tolerancia8SuperiorAncho] [float] NULL,
	[TipoTolerancia8Ancho] [int] NULL,
	[Minimo8Ancho] [float] NULL,
	[Maximo8Ancho] [float] NULL,
	[Ancho9] [float] NULL,
	[Tolerancia9InferiorAncho] [float] NULL,
	[Tolerancia9SuperiorAncho] [float] NULL,
	[TipoTolerancia9Ancho] [int] NULL,
	[Minimo9Ancho] [float] NULL,
	[Maximo9Ancho] [float] NULL,
	[Ancho10] [float] NULL,
	[Tolerancia10InferiorAncho] [float] NULL,
	[Tolerancia10SuperiorAncho] [float] NULL,
	[TipoTolerancia10Ancho] [int] NULL,
	[Minimo10Ancho] [float] NULL,
	[Maximo10Ancho] [float] NULL,
	[SobrealimentacionSup] [float] NULL,
	[ToleranciaSobrealimentacionSupInferior] [float] NULL,
	[ToleranciaSobrealimentacionSupSuperior] [float] NULL,
	[TipoToleranciaSobrealimentacionSup] [int] NULL,
	[MinimoSobrealimentacionSup] [float] NULL,
	[MaximoSobrealimentacionSup] [float] NULL,
	[SobrealimentacionInf] [float] NULL,
	[ToleranciaSobrealimentacionInfInferior] [float] NULL,
	[ToleranciaSobrealimentacionInfSuperior] [float] NULL,
	[TipoToleranciaSobrealimentacionInf] [int] NULL,
	[MinimoSobrealimentacionInf] [float] NULL,
	[MaximoSobrealimentacionInf] [float] NULL,
	[Velocidad] [float] NULL,
	[ToleranciaVelocidadInferior] [float] NULL,
	[ToleranciaVelocidadSuperior] [float] NULL,
	[TipoToleranciaVelocidad] [int] NULL,
	[MinimoVelocidad] [float] NULL,
	[MaximoVelocidad] [float] NULL,
	[Aviso] [bit] NULL,
	[TextoAviso] [text] NULL,
	[Ancho] [float] NULL,
	[ToleranciaInferiorAncho] [float] NULL,
	[ToleranciaSuperiorAncho] [float] NULL,
	[TipoToleranciaAncho] [int] NULL,
	[MinimoAncho] [float] NULL,
	[MaximoAncho] [float] NULL,
	[Extraccion1] [float] NULL,
	[ToleranciaExtraccion1Inferior] [float] NULL,
	[ToleranciaExtraccion1Superior] [float] NULL,
	[TipoToleranciaExtraccion1] [int] NULL,
	[MinimoExtraccion1] [float] NULL,
	[MaximoExtraccion1] [float] NULL,
	[Extraccion2] [float] NULL,
	[ToleranciaExtraccion2Inferior] [float] NULL,
	[ToleranciaExtraccion2Superior] [float] NULL,
	[TipoToleranciaExtraccion2] [int] NULL,
	[MinimoExtraccion2] [float] NULL,
	[MaximoExtraccion2] [float] NULL,
	[Tension] [float] NULL,
	[ToleranciaTensionInferior] [float] NULL,
	[ToleranciaTensionSuperior] [float] NULL,
	[TipoToleranciaTension] [int] NULL,
	[MinimoTension] [float] NULL,
	[MaximoTension] [float] NULL,
	[Ventilador1Inf] [float] NULL,
	[ToleranciaVentInf1Inferior] [float] NULL,
	[ToleranciaVentInf1Superior] [float] NULL,
	[TipoToleranciaVentilador1Inf] [int] NULL,
	[MinimoVentilador1Inf] [float] NULL,
	[MaximoVentilador1Inf] [float] NULL,
	[Ventilador2Inf] [float] NULL,
	[ToleranciaVentInf2Inferior] [float] NULL,
	[ToleranciaVentInf2Superior] [float] NULL,
	[TipoToleranciaVentilador2Inf] [int] NULL,
	[MinimoVentilador2Inf] [float] NULL,
	[MaximoVentilador2Inf] [float] NULL,
	[Ventilador3Inf] [float] NULL,
	[ToleranciaVentInf3Inferior] [float] NULL,
	[ToleranciaVentInf3Superior] [float] NULL,
	[TipoToleranciaVentilador3Inf] [int] NULL,
	[MinimoVentilador3Inf] [float] NULL,
	[MaximoVentilador3Inf] [float] NULL,
	[Ventilador4Inf] [float] NULL,
	[ToleranciaVentInf4Inferior] [float] NULL,
	[ToleranciaVentInf4Superior] [float] NULL,
	[TipoToleranciaVentilador4Inf] [int] NULL,
	[MinimoVentilador4Inf] [float] NULL,
	[MaximoVentilador4Inf] [float] NULL,
	[Ventilador5Inf] [float] NULL,
	[ToleranciaVentInf5Inferior] [float] NULL,
	[ToleranciaVentInf5Superior] [float] NULL,
	[TipoToleranciaVentilador5Inf] [int] NULL,
	[MinimoVentilador5Inf] [float] NULL,
	[MaximoVentilador5Inf] [float] NULL,
	[Ventilador6Inf] [float] NULL,
	[ToleranciaVentInf6Inferior] [float] NULL,
	[ToleranciaVentInf6Superior] [float] NULL,
	[TipoToleranciaVentilador6Inf] [int] NULL,
	[MinimoVentilador6Inf] [float] NULL,
	[MaximoVentilador6Inf] [float] NULL,
	[Ventilador7Inf] [float] NULL,
	[ToleranciaVentInf7Inferior] [float] NULL,
	[ToleranciaVentInf7Superior] [float] NULL,
	[TipoToleranciaVentilador7Inf] [int] NULL,
	[MinimoVentilador7Inf] [float] NULL,
	[MaximoVentilador7Inf] [float] NULL,
	[Ventilador8Inf] [float] NULL,
	[ToleranciaVentInf8Inferior] [float] NULL,
	[ToleranciaVentInf8Superior] [float] NULL,
	[TipoToleranciaVentilador8Inf] [int] NULL,
	[MinimoVentilador8Inf] [float] NULL,
	[MaximoVentilador8Inf] [float] NULL,
	[Ventilador1Sup] [float] NULL,
	[ToleranciaVentSup1Inferior] [float] NULL,
	[ToleranciaVentSup1Superior] [float] NULL,
	[TipoToleranciaVentilador1Sup] [int] NULL,
	[MinimoVentilador1Sup] [float] NULL,
	[MaximoVentilador1Sup] [float] NULL,
	[Ventilador2Sup] [float] NULL,
	[ToleranciaVentSup2Inferior] [float] NULL,
	[ToleranciaVentSup2Superior] [float] NULL,
	[TipoToleranciaVentilador2Sup] [int] NULL,
	[MinimoVentilador2Sup] [float] NULL,
	[MaximoVentilador2Sup] [float] NULL,
	[Ventilador3Sup] [float] NULL,
	[ToleranciaVentSup3Inferior] [float] NULL,
	[ToleranciaVentSup3Superior] [float] NULL,
	[TipoToleranciaVentilador3Sup] [int] NULL,
	[MinimoVentilador3Sup] [float] NULL,
	[MaximoVentilador3Sup] [float] NULL,
	[Ventilador4Sup] [float] NULL,
	[ToleranciaVentSup4Inferior] [float] NULL,
	[ToleranciaVentSup4Superior] [float] NULL,
	[TipoToleranciaVentilador4Sup] [int] NULL,
	[MinimoVentilador4Sup] [float] NULL,
	[MaximoVentilador4Sup] [float] NULL,
	[Ventilador5Sup] [float] NULL,
	[ToleranciaVentSup5Inferior] [float] NULL,
	[ToleranciaVentSup5Superior] [float] NULL,
	[TipoToleranciaVentilador5Sup] [int] NULL,
	[MinimoVentilador5Sup] [float] NULL,
	[MaximoVentilador5Sup] [float] NULL,
	[Ventilador6Sup] [float] NULL,
	[ToleranciaVentSup6Inferior] [float] NULL,
	[ToleranciaVentSup6Superior] [float] NULL,
	[TipoToleranciaVentilador6Sup] [int] NULL,
	[MinimoVentilador6Sup] [float] NULL,
	[MaximoVentilador6Sup] [float] NULL,
	[Ventilador7Sup] [float] NULL,
	[ToleranciaVentSup7Inferior] [float] NULL,
	[ToleranciaVentSup7Superior] [float] NULL,
	[TipoToleranciaVentilador7Sup] [int] NULL,
	[MinimoVentilador7Sup] [float] NULL,
	[MaximoVentilador7Sup] [float] NULL,
	[Ventilador8Sup] [float] NULL,
	[ToleranciaVentSup8Inferior] [float] NULL,
	[ToleranciaVentSup8Superior] [float] NULL,
	[TipoToleranciaVentilador8Sup] [int] NULL,
	[MinimoVentilador8Sup] [float] NULL,
	[MaximoVentilador8Sup] [float] NULL,
	[Enderezador1] [int] NULL,
	[ProgramaEnderezador1] [int] NULL,
	[OpticasEnderezador1] [int] NULL,
	[TipoOpticaEnderezador1] [int] NULL,
	[UrdimbreEnderezador1] [float] NULL,
	[TramaEnderezador1] [float] NULL,
	[Enderezador2] [int] NULL,
	[ProgramaEnderezador2] [int] NULL,
	[OpticasEnderezador2] [int] NULL,
	[TipoOpticaEnderezador2] [int] NULL,
	[UrdimbreEnderezador2] [float] NULL,
	[TramaEnderezador2] [float] NULL,
	[Temperatura9] [float] NULL,
	[Tolerancia9InferiorTemperatura] [float] NULL,
	[Tolerancia9SuperiorTemperatura] [float] NULL,
	[TipoTolerancia9Temperatura] [int] NULL,
	[Minimo9Temperatura] [float] NULL,
	[Maximo9Temperatura] [float] NULL,
	[Temperatura10] [float] NULL,
	[Tolerancia10InferiorTemperatura] [float] NULL,
	[Tolerancia10SuperiorTemperatura] [float] NULL,
	[TipoTolerancia10Temperatura] [int] NULL,
	[Minimo10Temperatura] [float] NULL,
	[Maximo10Temperatura] [float] NULL,
	[Temperatura11] [float] NULL,
	[Tolerancia11InferiorTemperatura] [float] NULL,
	[Tolerancia11SuperiorTemperatura] [float] NULL,
	[TipoTolerancia11Temperatura] [int] NULL,
	[Minimo11Temperatura] [float] NULL,
	[Maximo11Temperatura] [float] NULL,
	[Temperatura12] [float] NULL,
	[Tolerancia12InferiorTemperatura] [float] NULL,
	[Tolerancia12SuperiorTemperatura] [float] NULL,
	[TipoTolerancia12Temperatura] [int] NULL,
	[Minimo12Temperatura] [float] NULL,
	[Maximo12Temperatura] [float] NULL,
	[Ventilador9Inf] [float] NULL,
	[ToleranciaVentInf9Inferior] [float] NULL,
	[ToleranciaVentInf9Superior] [float] NULL,
	[TipoToleranciaVentilador9Inf] [int] NULL,
	[MinimoVentilador9Inf] [float] NULL,
	[MaximoVentilador9Inf] [float] NULL,
	[Ventilador10Inf] [float] NULL,
	[ToleranciaVentInf10Inferior] [float] NULL,
	[ToleranciaVentInf10Superior] [float] NULL,
	[TipoToleranciaVentilador10Inf] [int] NULL,
	[MinimoVentilador10Inf] [float] NULL,
	[MaximoVentilador10Inf] [float] NULL,
	[Ventilador11Inf] [float] NULL,
	[ToleranciaVentInf11Inferior] [float] NULL,
	[ToleranciaVentInf11Superior] [float] NULL,
	[TipoToleranciaVentilador11Inf] [int] NULL,
	[MinimoVentilador11Inf] [float] NULL,
	[MaximoVentilador11Inf] [float] NULL,
	[Ventilador12Inf] [float] NULL,
	[ToleranciaVentInf12Inferior] [float] NULL,
	[ToleranciaVentInf12Superior] [float] NULL,
	[TipoToleranciaVentilador12Inf] [int] NULL,
	[MinimoVentilador12Inf] [float] NULL,
	[MaximoVentilador12Inf] [float] NULL,
	[Ventilador9Sup] [float] NULL,
	[ToleranciaVentSup9Inferior] [float] NULL,
	[ToleranciaVentSup9Superior] [float] NULL,
	[TipoToleranciaVentilador9Sup] [int] NULL,
	[MinimoVentilador9Sup] [float] NULL,
	[MaximoVentilador9Sup] [float] NULL,
	[Ventilador10Sup] [float] NULL,
	[ToleranciaVentSup10Inferior] [float] NULL,
	[ToleranciaVentSup10Superior] [float] NULL,
	[TipoToleranciaVentilador10Sup] [int] NULL,
	[MinimoVentilador10Sup] [float] NULL,
	[MaximoVentilador10Sup] [float] NULL,
	[Ventilador11Sup] [float] NULL,
	[ToleranciaVentSup11Inferior] [float] NULL,
	[ToleranciaVentSup11Superior] [float] NULL,
	[TipoToleranciaVentilador11Sup] [int] NULL,
	[MinimoVentilador11Sup] [float] NULL,
	[MaximoVentilador11Sup] [float] NULL,
	[Ventilador12Sup] [float] NULL,
	[ToleranciaVentSup12Inferior] [float] NULL,
	[ToleranciaVentSup12Superior] [float] NULL,
	[TipoToleranciaVentilador12Sup] [int] NULL,
	[MinimoVentilador12Sup] [float] NULL,
	[MaximoVentilador12Sup] [float] NULL,
	[EncolarOrillos] [bit] NULL,
	[NTratamientoEncolado] [int] NULL,
 CONSTRAINT [PK_DetalleMaquinaRameado] PRIMARY KEY CLUSTERED 
(
	[NMaquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetalleOrdenRameado]    Script Date: 03/05/2019 17:51:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DetalleOrdenRameado](
	[NOrden] [char](8) NOT NULL,
	[Indice] [int] NOT NULL,
	[NMaquina] [int] NULL,
	[Temperatura1] [float] NULL,
	[Tolerancia1InferiorTemperatura] [float] NULL,
	[Tolerancia1SuperiorTemperatura] [float] NULL,
	[TipoTolerancia1Temperatura] [int] NULL,
	[Minimo1Temperatura] [float] NULL,
	[Maximo1Temperatura] [float] NULL,
	[Temperatura2] [float] NULL,
	[Tolerancia2InferiorTemperatura] [float] NULL,
	[Tolerancia2SuperiorTemperatura] [float] NULL,
	[TipoTolerancia2Temperatura] [int] NULL,
	[Minimo2Temperatura] [float] NULL,
	[Maximo2Temperatura] [float] NULL,
	[Temperatura3] [float] NULL,
	[Tolerancia3InferiorTemperatura] [float] NULL,
	[Tolerancia3SuperiorTemperatura] [float] NULL,
	[TipoTolerancia3Temperatura] [int] NULL,
	[Minimo3Temperatura] [float] NULL,
	[Maximo3Temperatura] [float] NULL,
	[Temperatura4] [float] NULL,
	[Tolerancia4InferiorTemperatura] [float] NULL,
	[Tolerancia4SuperiorTemperatura] [float] NULL,
	[TipoTolerancia4Temperatura] [int] NULL,
	[Minimo4Temperatura] [float] NULL,
	[Maximo4Temperatura] [float] NULL,
	[Temperatura5] [float] NULL,
	[Tolerancia5InferiorTemperatura] [float] NULL,
	[Tolerancia5SuperiorTemperatura] [float] NULL,
	[TipoTolerancia5Temperatura] [int] NULL,
	[Minimo5Temperatura] [float] NULL,
	[Maximo5Temperatura] [float] NULL,
	[Temperatura6] [float] NULL,
	[Tolerancia6InferiorTemperatura] [float] NULL,
	[Tolerancia6SuperiorTemperatura] [float] NULL,
	[TipoTolerancia6Temperatura] [int] NULL,
	[Minimo6Temperatura] [float] NULL,
	[Maximo6Temperatura] [float] NULL,
	[Temperatura7] [float] NULL,
	[Tolerancia7InferiorTemperatura] [float] NULL,
	[Tolerancia7SuperiorTemperatura] [float] NULL,
	[TipoTolerancia7Temperatura] [int] NULL,
	[Minimo7Temperatura] [float] NULL,
	[Maximo7Temperatura] [float] NULL,
	[Temperatura8] [float] NULL,
	[Tolerancia8InferiorTemperatura] [float] NULL,
	[Tolerancia8SuperiorTemperatura] [float] NULL,
	[TipoTolerancia8Temperatura] [int] NULL,
	[Minimo8Temperatura] [float] NULL,
	[Maximo8Temperatura] [float] NULL,
	[Ancho1] [float] NULL,
	[Tolerancia1InferiorAncho] [float] NULL,
	[Tolerancia1SuperiorAncho] [float] NULL,
	[TipoTolerancia1Ancho] [int] NULL,
	[Minimo1Ancho] [float] NULL,
	[Maximo1Ancho] [float] NULL,
	[Ancho2] [float] NULL,
	[Tolerancia2InferiorAncho] [float] NULL,
	[Tolerancia2SuperiorAncho] [float] NULL,
	[TipoTolerancia2Ancho] [int] NULL,
	[Minimo2Ancho] [float] NULL,
	[Maximo2Ancho] [float] NULL,
	[Ancho3] [float] NULL,
	[Tolerancia3InferiorAncho] [float] NULL,
	[Tolerancia3SuperiorAncho] [float] NULL,
	[TipoTolerancia3Ancho] [int] NULL,
	[Minimo3Ancho] [float] NULL,
	[Maximo3Ancho] [float] NULL,
	[Ancho4] [float] NULL,
	[Tolerancia4InferiorAncho] [float] NULL,
	[Tolerancia4SuperiorAncho] [float] NULL,
	[TipoTolerancia4Ancho] [int] NULL,
	[Minimo4Ancho] [float] NULL,
	[Maximo4Ancho] [float] NULL,
	[Ancho5] [float] NULL,
	[Tolerancia5InferiorAncho] [float] NULL,
	[Tolerancia5SuperiorAncho] [float] NULL,
	[TipoTolerancia5Ancho] [int] NULL,
	[Minimo5Ancho] [float] NULL,
	[Maximo5Ancho] [float] NULL,
	[Ancho6] [float] NULL,
	[Tolerancia6InferiorAncho] [float] NULL,
	[Tolerancia6SuperiorAncho] [float] NULL,
	[TipoTolerancia6Ancho] [int] NULL,
	[Minimo6Ancho] [float] NULL,
	[Maximo6Ancho] [float] NULL,
	[Ancho7] [float] NULL,
	[Tolerancia7InferiorAncho] [float] NULL,
	[Tolerancia7SuperiorAncho] [float] NULL,
	[TipoTolerancia7Ancho] [int] NULL,
	[Minimo7Ancho] [float] NULL,
	[Maximo7Ancho] [float] NULL,
	[Ancho8] [float] NULL,
	[Tolerancia8InferiorAncho] [float] NULL,
	[Tolerancia8SuperiorAncho] [float] NULL,
	[TipoTolerancia8Ancho] [int] NULL,
	[Minimo8Ancho] [float] NULL,
	[Maximo8Ancho] [float] NULL,
	[Ancho9] [float] NULL,
	[Tolerancia9InferiorAncho] [float] NULL,
	[Tolerancia9SuperiorAncho] [float] NULL,
	[TipoTolerancia9Ancho] [int] NULL,
	[Minimo9Ancho] [float] NULL,
	[Maximo9Ancho] [float] NULL,
	[Ancho10] [float] NULL,
	[Tolerancia10InferiorAncho] [float] NULL,
	[Tolerancia10SuperiorAncho] [float] NULL,
	[TipoTolerancia10Ancho] [int] NULL,
	[Minimo10Ancho] [float] NULL,
	[Maximo10Ancho] [float] NULL,
	[SobrealimentacionSup] [float] NULL,
	[ToleranciaSobrealimentacionSupInferior] [float] NULL,
	[ToleranciaSobrealimentacionSupSuperior] [float] NULL,
	[TipoToleranciaSobrealimentacionSup] [int] NULL,
	[MinimoSobrealimentacionSup] [float] NULL,
	[MaximoSobrealimentacionSup] [float] NULL,
	[SobrealimentacionInf] [float] NULL,
	[ToleranciaSobrealimentacionInfInferior] [float] NULL,
	[ToleranciaSobrealimentacionInfSuperior] [float] NULL,
	[TipoToleranciaSobrealimentacionInf] [int] NULL,
	[MinimoSobrealimentacionInf] [float] NULL,
	[MaximoSobrealimentacionInf] [float] NULL,
	[Velocidad] [float] NULL,
	[ToleranciaVelocidadInferior] [float] NULL,
	[ToleranciaVelocidadSuperior] [float] NULL,
	[TipoToleranciaVelocidad] [int] NULL,
	[MinimoVelocidad] [float] NULL,
	[MaximoVelocidad] [float] NULL,
	[Aviso] [bit] NULL,
	[TextoAviso] [text] NULL,
	[Ancho] [float] NULL,
	[ToleranciaInferiorAncho] [float] NULL,
	[ToleranciaSuperiorAncho] [float] NULL,
	[TipoToleranciaAncho] [int] NULL,
	[MinimoAncho] [float] NULL,
	[MaximoAncho] [float] NULL,
	[Extraccion1] [float] NULL,
	[ToleranciaExtraccion1Inferior] [float] NULL,
	[ToleranciaExtraccion1Superior] [float] NULL,
	[TipoToleranciaExtraccion1] [int] NULL,
	[MinimoExtraccion1] [float] NULL,
	[MaximoExtraccion1] [float] NULL,
	[Extraccion2] [float] NULL,
	[ToleranciaExtraccion2Inferior] [float] NULL,
	[ToleranciaExtraccion2Superior] [float] NULL,
	[TipoToleranciaExtraccion2] [int] NULL,
	[MinimoExtraccion2] [float] NULL,
	[MaximoExtraccion2] [float] NULL,
	[Tension] [float] NULL,
	[ToleranciaTensionInferior] [float] NULL,
	[ToleranciaTensionSuperior] [float] NULL,
	[TipoToleranciaTension] [int] NULL,
	[MinimoTension] [float] NULL,
	[MaximoTension] [float] NULL,
	[Ventilador1Inf] [float] NULL,
	[ToleranciaVentInf1Inferior] [float] NULL,
	[ToleranciaVentInf1Superior] [float] NULL,
	[TipoToleranciaVentilador1Inf] [int] NULL,
	[MinimoVentilador1Inf] [float] NULL,
	[MaximoVentilador1Inf] [float] NULL,
	[Ventilador2Inf] [float] NULL,
	[ToleranciaVentInf2Inferior] [float] NULL,
	[ToleranciaVentInf2Superior] [float] NULL,
	[TipoToleranciaVentilador2Inf] [int] NULL,
	[MinimoVentilador2Inf] [float] NULL,
	[MaximoVentilador2Inf] [float] NULL,
	[Ventilador3Inf] [float] NULL,
	[ToleranciaVentInf3Inferior] [float] NULL,
	[ToleranciaVentInf3Superior] [float] NULL,
	[TipoToleranciaVentilador3Inf] [int] NULL,
	[MinimoVentilador3Inf] [float] NULL,
	[MaximoVentilador3Inf] [float] NULL,
	[Ventilador4Inf] [float] NULL,
	[ToleranciaVentInf4Inferior] [float] NULL,
	[ToleranciaVentInf4Superior] [float] NULL,
	[TipoToleranciaVentilador4Inf] [int] NULL,
	[MinimoVentilador4Inf] [float] NULL,
	[MaximoVentilador4Inf] [float] NULL,
	[Ventilador5Inf] [float] NULL,
	[ToleranciaVentInf5Inferior] [float] NULL,
	[ToleranciaVentInf5Superior] [float] NULL,
	[TipoToleranciaVentilador5Inf] [int] NULL,
	[MinimoVentilador5Inf] [float] NULL,
	[MaximoVentilador5Inf] [float] NULL,
	[Ventilador6Inf] [float] NULL,
	[ToleranciaVentInf6Inferior] [float] NULL,
	[ToleranciaVentInf6Superior] [float] NULL,
	[TipoToleranciaVentilador6Inf] [int] NULL,
	[MinimoVentilador6Inf] [float] NULL,
	[MaximoVentilador6Inf] [float] NULL,
	[Ventilador7Inf] [float] NULL,
	[ToleranciaVentInf7Inferior] [float] NULL,
	[ToleranciaVentInf7Superior] [float] NULL,
	[TipoToleranciaVentilador7Inf] [int] NULL,
	[MinimoVentilador7Inf] [float] NULL,
	[MaximoVentilador7Inf] [float] NULL,
	[Ventilador8Inf] [float] NULL,
	[ToleranciaVentInf8Inferior] [float] NULL,
	[ToleranciaVentInf8Superior] [float] NULL,
	[TipoToleranciaVentilador8Inf] [int] NULL,
	[MinimoVentilador8Inf] [float] NULL,
	[MaximoVentilador8Inf] [float] NULL,
	[Ventilador1Sup] [float] NULL,
	[ToleranciaVentSup1Inferior] [float] NULL,
	[ToleranciaVentSup1Superior] [float] NULL,
	[TipoToleranciaVentilador1Sup] [int] NULL,
	[MinimoVentilador1Sup] [float] NULL,
	[MaximoVentilador1Sup] [float] NULL,
	[Ventilador2Sup] [float] NULL,
	[ToleranciaVentSup2Inferior] [float] NULL,
	[ToleranciaVentSup2Superior] [float] NULL,
	[TipoToleranciaVentilador2Sup] [int] NULL,
	[MinimoVentilador2Sup] [float] NULL,
	[MaximoVentilador2Sup] [float] NULL,
	[Ventilador3Sup] [float] NULL,
	[ToleranciaVentSup3Inferior] [float] NULL,
	[ToleranciaVentSup3Superior] [float] NULL,
	[TipoToleranciaVentilador3Sup] [int] NULL,
	[MinimoVentilador3Sup] [float] NULL,
	[MaximoVentilador3Sup] [float] NULL,
	[Ventilador4Sup] [float] NULL,
	[ToleranciaVentSup4Inferior] [float] NULL,
	[ToleranciaVentSup4Superior] [float] NULL,
	[TipoToleranciaVentilador4Sup] [int] NULL,
	[MinimoVentilador4Sup] [float] NULL,
	[MaximoVentilador4Sup] [float] NULL,
	[Ventilador5Sup] [float] NULL,
	[ToleranciaVentSup5Inferior] [float] NULL,
	[ToleranciaVentSup5Superior] [float] NULL,
	[TipoToleranciaVentilador5Sup] [int] NULL,
	[MinimoVentilador5Sup] [float] NULL,
	[MaximoVentilador5Sup] [float] NULL,
	[Ventilador6Sup] [float] NULL,
	[ToleranciaVentSup6Inferior] [float] NULL,
	[ToleranciaVentSup6Superior] [float] NULL,
	[TipoToleranciaVentilador6Sup] [int] NULL,
	[MinimoVentilador6Sup] [float] NULL,
	[MaximoVentilador6Sup] [float] NULL,
	[Ventilador7Sup] [float] NULL,
	[ToleranciaVentSup7Inferior] [float] NULL,
	[ToleranciaVentSup7Superior] [float] NULL,
	[TipoToleranciaVentilador7Sup] [int] NULL,
	[MinimoVentilador7Sup] [float] NULL,
	[MaximoVentilador7Sup] [float] NULL,
	[Ventilador8Sup] [float] NULL,
	[ToleranciaVentSup8Inferior] [float] NULL,
	[ToleranciaVentSup8Superior] [float] NULL,
	[TipoToleranciaVentilador8Sup] [int] NULL,
	[MinimoVentilador8Sup] [float] NULL,
	[MaximoVentilador8Sup] [float] NULL,
	[Enderezador1] [int] NULL,
	[ProgramaEnderezador1] [int] NULL,
	[OpticasEnderezador1] [int] NULL,
	[TipoOpticaEnderezador1] [int] NULL,
	[UrdimbreEnderezador1] [float] NULL,
	[TramaEnderezador1] [float] NULL,
	[Enderezador2] [int] NULL,
	[ProgramaEnderezador2] [int] NULL,
	[OpticasEnderezador2] [int] NULL,
	[TipoOpticaEnderezador2] [int] NULL,
	[UrdimbreEnderezador2] [float] NULL,
	[TramaEnderezador2] [float] NULL,
	[Temperatura9] [float] NULL,
	[Tolerancia9InferiorTemperatura] [float] NULL,
	[Tolerancia9SuperiorTemperatura] [float] NULL,
	[TipoTolerancia9Temperatura] [int] NULL,
	[Minimo9Temperatura] [float] NULL,
	[Maximo9Temperatura] [float] NULL,
	[Temperatura10] [float] NULL,
	[Tolerancia10InferiorTemperatura] [float] NULL,
	[Tolerancia10SuperiorTemperatura] [float] NULL,
	[TipoTolerancia10Temperatura] [int] NULL,
	[Minimo10Temperatura] [float] NULL,
	[Maximo10Temperatura] [float] NULL,
	[Temperatura11] [float] NULL,
	[Tolerancia11InferiorTemperatura] [float] NULL,
	[Tolerancia11SuperiorTemperatura] [float] NULL,
	[TipoTolerancia11Temperatura] [int] NULL,
	[Minimo11Temperatura] [float] NULL,
	[Maximo11Temperatura] [float] NULL,
	[Temperatura12] [float] NULL,
	[Tolerancia12InferiorTemperatura] [float] NULL,
	[Tolerancia12SuperiorTemperatura] [float] NULL,
	[TipoTolerancia12Temperatura] [int] NULL,
	[Minimo12Temperatura] [float] NULL,
	[Maximo12Temperatura] [float] NULL,
	[Ventilador9Inf] [float] NULL,
	[ToleranciaVentInf9Inferior] [float] NULL,
	[ToleranciaVentInf9Superior] [float] NULL,
	[TipoToleranciaVentilador9Inf] [int] NULL,
	[MinimoVentilador9Inf] [float] NULL,
	[MaximoVentilador9Inf] [float] NULL,
	[Ventilador10Inf] [float] NULL,
	[ToleranciaVentInf10Inferior] [float] NULL,
	[ToleranciaVentInf10Superior] [float] NULL,
	[TipoToleranciaVentilador10Inf] [int] NULL,
	[MinimoVentilador10Inf] [float] NULL,
	[MaximoVentilador10Inf] [float] NULL,
	[Ventilador11Inf] [float] NULL,
	[ToleranciaVentInf11Inferior] [float] NULL,
	[ToleranciaVentInf11Superior] [float] NULL,
	[TipoToleranciaVentilador11Inf] [int] NULL,
	[MinimoVentilador11Inf] [float] NULL,
	[MaximoVentilador11Inf] [float] NULL,
	[Ventilador12Inf] [float] NULL,
	[ToleranciaVentInf12Inferior] [float] NULL,
	[ToleranciaVentInf12Superior] [float] NULL,
	[TipoToleranciaVentilador12Inf] [int] NULL,
	[MinimoVentilador12Inf] [float] NULL,
	[MaximoVentilador12Inf] [float] NULL,
	[Ventilador9Sup] [float] NULL,
	[ToleranciaVentSup9Inferior] [float] NULL,
	[ToleranciaVentSup9Superior] [float] NULL,
	[TipoToleranciaVentilador9Sup] [int] NULL,
	[MinimoVentilador9Sup] [float] NULL,
	[MaximoVentilador9Sup] [float] NULL,
	[Ventilador10Sup] [float] NULL,
	[ToleranciaVentSup10Inferior] [float] NULL,
	[ToleranciaVentSup10Superior] [float] NULL,
	[TipoToleranciaVentilador10Sup] [int] NULL,
	[MinimoVentilador10Sup] [float] NULL,
	[MaximoVentilador10Sup] [float] NULL,
	[Ventilador11Sup] [float] NULL,
	[ToleranciaVentSup11Inferior] [float] NULL,
	[ToleranciaVentSup11Superior] [float] NULL,
	[TipoToleranciaVentilador11Sup] [int] NULL,
	[MinimoVentilador11Sup] [float] NULL,
	[MaximoVentilador11Sup] [float] NULL,
	[Ventilador12Sup] [float] NULL,
	[ToleranciaVentSup12Inferior] [float] NULL,
	[ToleranciaVentSup12Superior] [float] NULL,
	[TipoToleranciaVentilador12Sup] [int] NULL,
	[MinimoVentilador12Sup] [float] NULL,
	[MaximoVentilador12Sup] [float] NULL,
	[EncolarOrillos] [bit] NULL,
	[NTratamientoEncolado] [int] NULL,
 CONSTRAINT [PK_DetalleOrdenRameado] PRIMARY KEY CLUSTERED 
(
	[NOrden] ASC,
	[Indice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
